.playerStatistic { 
        position: relative;
        margin-right: 25%;
        margin-left: 26%;
        padding-top: 10%;  
}

.playerBuy { 
        position: relative;
        margin-right: 25%; 
        margin-left: 26%; 
}

.playerBuyButtons { 
        position: relative;
        text-align: center;
}

.playerExtendList { 
        position: relative;
        margin-right: 26%;
        margin-left: 26%;
}

.playerExtendList_list { 
        position: relative;
        text-align: center;
}